@model Post

<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h2>@Model.Head</h2>
        </div>
        <p class="text-muted">
            @{
                if (!string.IsNullOrEmpty(Model.User?.Username))
                {
                    <svg width="21" height="21" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg" version="1.1" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                        <circle cx="8" cy="6" r="3.25" />
                        <path d="m2.75 14.25c0-2.5 2-5 5.25-5s5.25 2.5 5.25 5" />
                    </svg> @Model.User.Username
                }
                else
                {
                    @:Anonymous
                }
            }
        </p>
        <span class="border border-white rounded ms-3 me-3" style="background-color: #ECECEC">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <p>@Model.Body</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center">
                        <img src="@Model.Thumbnail" class="img-fluid" alt="Thumbnail">
                    </div>
                </div>
            </div>
        </span>
        <div class="card-footer">
            <p class="text-muted">Objavljeno: @Model.TimeCreated.ToString("dd/MM/yyyy")</p>
            <p class="text-muted">Izmenjeno: @Model.TimeUpdated.ToString("dd/MM/yyyy")</p>
            <h3>Comments</h3>
            <ul>
                @if (Model.Comments != null)
                {
                    @foreach (var comment in Model.Comments)
                    {
                        <partial name="_Comment" model="comment" />
                    }
                }
                else
                {
                    <li class="text-italic">Ostavite prvi komentar</li>
                }
            </ul>
            <div class="card-footer">
                <div class="row g-2">
                    <h4>
                        Dodajte vaš komentar
                    </h4>
                    <form asp-controller="Comment" asp-action="CreateComment" method="post" role="form">
                        <input type="hidden" name="PostId" value="@Model.ID" />
                        <div class="col-12">
                            <input asp-for="Body" class="form-control" style="font-style: italic" placeholder="Šta misliš o ovome?" value="" />
                            <span asp-validation-for="Body" class="text-danger"></span>
                        </div>
                        <div class="col-12">
                            <input type="submit" class="btn btn-warning mt-3" value="Komentariši" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
