@model Post

<div class="card mb-3" style="max-width:540px">
    <div class="row no-gutters">
        <div class="col-md-6">
            <img src="@Model.Thumbnail" class="card-img" style=" height: 200px; width: 12rem" alt="TopicImage" />
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-title">
                    @Model.Head
                </h5>
                <p class="card-text">
                    <small class="text-muted">
                        Posted @Model.TimeCreated
                    </small>
                </p>
                <p class="card-text">
                    <small class="text-muted">
                        Last edited @Model.TimeUpdated
                    </small>
                </p>
                <a asp-controller="Post" asp-action="ViewPost" asp-route-postId="@Model.ID" class="stretched-link"></a>
            </div>
        </div>
    </div>
</div>